.HeaderSite {
    background-color: #0e4d61;
    height: 80px;
}

.FooterSite {
    background-color: #0e4d61;
    height: 80px;
}

/* main bookstore */
.BookSLotHeader {
    border-bottom: solid;
    border-bottom-color: rgb(107, 116, 241);
}

.MainBookstore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.BookSlot {
    width: 430px;
    height: 600px;
    background-color: #0e4d61;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 12px 12px 24px 8px rgb(18 80 99 / 0.2);
    padding: 16px;
}


.Separator {
    width: 430px;
    height: 2px;
    background-color: #0e4d61;
}


.BookSlotHeader {
    color: white;
    padding: 10px;
    text-align: center;
    border-bottom: solid;
    width: 100%;
    margin-bottom: 16px;
}

.BookInformations {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.BookInformatiosHead {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.BookInformationsTable {
    color: white;
    width: 100%;
    border-collapse: collapse;
    border-bottom: solid;
    

}

.BookInformationsTable td {
    padding: 8px 0;
}


.BookInformationsTable td:last-child {
    text-align: right;
    opacity: 0.7;

}

.BookComments {
    margin-top: 16px;
    flex: 1;                 /* nimmt den restlichen Platz */
    display: flex;
    flex-direction: column;
}


.Comment{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    color: white;
    list-style: none;
    
}





.BookIcon {
    width: 60px;
}


.LikeIcon {
    width: 42px;
}


.Likes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: white;
    opacity: 0.8;

}